.pio
build/
.build/
.cache
compiledb/
dependencies.lock
managed_components/
sdkconfig.*
!sdkconfig.stack.*
!sdkconfig.py
*.sarif
*.sarif.json
backtrace
trace
log
*.log
.venv
*.pyc
__pycache__/
data/
telemetry/
docs/wifi.md
src/master/wifi_credentials.hpp
*.tled
