CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y

# ESP32S3 can mirror the UART console over USB Serial/JTAG.
CONFIG_ESP_CONSOLE_SECONDARY_NONE=n
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_CDC=n

# WARNING: Do NOT add to C3! Silent halt!
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y

# ~50% faster than 16kB cache
CONFIG_ESP32S3_INSTRUCTION_CACHE_16KB=n
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
