## FFT table sizing
CONFIG_DSP_MAX_FFT_SIZE_512=n
CONFIG_DSP_MAX_FFT_SIZE_1024=y
CONFIG_DSP_MAX_FFT_SIZE_2048=n
CONFIG_DSP_MAX_FFT_SIZE_4096=n
CONFIG_DSP_MAX_FFT_SIZE_8192=n
CONFIG_DSP_MAX_FFT_SIZE_16384=n
CONFIG_DSP_MAX_FFT_SIZE_32768=n
CONFIG_DSP_MAX_FFT_SIZE=1024
