########
# Core config
########

CONFIG_FREERTOS_HZ=1000

## Stacks
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

## Safeguards
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y

########
# Performance
########

# Flash
# FIXME: SWITCH TO QIO
# CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
# CONFIG_ESPTOOLPY_FLASHMODE="qio"

########
# Monitoring
########

## Task tracking
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_COUNTER_TYPE_U32=n
CONFIG_FREERTOS_RUN_TIME_COUNTER_TYPE_U64=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_HEAP_TRACK_DELETED_TASKS=y
CONFIG_HEAP_TRACING_STANDALONE=y
# BUG: https://github.com/espressif/esp-idf/issues/17232
CONFIG_HEAP_TASK_TRACKING=n
#
## Logging
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y
CONFIG_LOG_COLORS=n

## Console
# Custom UART0 allows the shared baud setting to apply while ESP-IDF keeps the
# per-target default UART0 pins.
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=921600

########
# Features and components
########

## Bluetooth
CONFIG_BT_ENABLED=n

## HTTP
CONFIG_ESP_HTTPS_SERVER_ENABLE=n
CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=n
CONFIG_ESP_NETIF_TCPIP_LWIP=n
CONFIG_HTTPD_WS_SUPPORT=n
CONFIG_WS_TRANSPORT=n
CONFIG_HTTPD_WS_SUPPORT=n

## Network
CONFIG_ETH_ENABLED=n
CONFIG_LWIP_ENABLE=n

## File systems
CONFIG_FATFS_VOLUME_COUNT=1
CONFIG_SPIFFS_MAX_PARTITIONS=1

## MQTT
CONFIG_MQTT_PROTOCOL_311=n
CONFIG_MQTT_TRANSPORT_SSL=n
CONFIG_MQTT_TRANSPORT_WEBSOCKET=n

## Wi-Fi
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_WIFI_PROV_SCAN_MAX_ENTRIES=0
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_0=n
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1=n
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2=n

## TLS
CONFIG_MBEDTLS_TLS_DISABLED=y
CONFIG_MBEDTLS_TLS_ENABLED=n
CONFIG_MBEDTLS_TLS_CLIENT=n
CONFIG_MBEDTLS_TLS_SERVER=n
CONFIG_MBEDTLS_TLS_SERVER_AND_CLIENT=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
CONFIG_MBEDTLS_X509_CRL_PARSE_C=n
CONFIG_MBEDTLS_X509_CSR_PARSE_C=n
CONFIG_MBEDTLS_PEM_PARSE_C=n
CONFIG_MBEDTLS_PKCS7_C=n

## Power
CONFIG_PM_ENABLE=n

########
# Debugging and panic behavior
########

CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y
# CONFIG_ESP_SYSTEM_PANIC_GDBSTUB=y
# # CONFIG_COMPILER_OPTIMIZATION_DEBUG is not set
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# # CONFIG_COMPILER_OPTIMIZATION_SIZE is not set
# # CONFIG_COMPILER_OPTIMIZATION_NONE is not set
