## Bluetooth A2DP input for the media node
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_BLE_ENABLED=n
CONFIG_BT_A2DP_ENABLE=y
CONFIG_BT_AVRCP_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=n
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BTDM_CTRL_BR_EDR_MAX_ACL_CONN=1
CONFIG_BTDM_CTRL_BR_EDR_MAX_SYNC_CONN=0
CONFIG_LWIP_ENABLE=y

## FFT table sizing
CONFIG_DSP_MAX_FFT_SIZE_512=n
CONFIG_DSP_MAX_FFT_SIZE_1024=y
CONFIG_DSP_MAX_FFT_SIZE_2048=n
CONFIG_DSP_MAX_FFT_SIZE_4096=n
CONFIG_DSP_MAX_FFT_SIZE_8192=n
CONFIG_DSP_MAX_FFT_SIZE_16384=n
CONFIG_DSP_MAX_FFT_SIZE_32768=n
CONFIG_DSP_MAX_FFT_SIZE=1024
